<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Enfermedad</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container">
    <h1 class="my-4">Editar Enfermedad</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="nombre_enfermedad">Nombre de la Enfermedad: </label>
            <input type="text" class="form-control" id="nombre_enfermedad" name="nombre_enfermedad"
                value="{{ enfermedad.nombre_enfermedad }}" required>
        </div>
        <div class="form-group">
            <label for="fecha_diagnostico">Fecha de Diagnóstico:</label>
            <input type="date" class="form-control" id="fecha_diagnostico" name="fecha_diagnostico"
                value="{{ enfermedad.fecha_diagnostico }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>

    <a href="{% url 'lista_enfermedades' enfermedad.anciano.id %}" class="btn btn-secondary mt-3">Volver a la lista de
        enfermedades</a>
</body>

</html>