<!-- templates/eliminar_anciano.html -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Anciano</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container">
    <h1 class="my-4">Eliminar Anciano</h1>

    <p>¿Estás seguro de que quieres eliminar al anciano: "{{ anciano.nombre }} {{ anciano.apellidos }}"?</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'lista_ancianos' %}" class="btn btn-secondary ml-2">Cancelar</a>
    </form>
</body>

</html>